<h1 class="body">Users page</h1>

<div class='myPals'>
  <% if (typeof myPals.length === 0) { %>
    <p>You have no Pals! Use the Pal Finder to get a random pal!</p>
  <% } else { %>
    <table>
      <tr>
        <td>Username</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Language</td>
        <td>Nationality</td>
        <td>Gender</td>
        <td>Age</td>
        <td>Email</td>
        <td>Options</td>
      </tr>
      <% myPals.forEach(function(onepal){ %>
        <tr>
          <% if (typeof onepal.userName !== 'undefined') { %>
            <td><%= onepal.userName %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.firstName !== 'undefined') { %>
            <td><%= onepal.firstName %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.lastName !== 'undefined') { %>
            <td><%= onepal.lastName %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.language !== 'undefined') { %>
            <td><%= onepal.language %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.nationality !== 'undefined') { %>
            <td><%= onepal.nationality %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.gender !== 'undefined') { %>
            <td><%= onepal.gender %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.birthday !== 'undefined') { %>
            <td><script>Math.floor((new Date() - new Date('<%= onepal.birthday %>')) / 1000 / 60 / 60 / 24 / 365)</script></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>

          <% if (typeof onepal.email !== 'undefined') { %>
            <td><%= onepal.email %></td>
          <% } else { %> <td class='missing'>No info</td> <% } %>
          <td><div>Delete</div><div>Instant Chat</div><div>Message</div></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</div>
<div class='filterPals center'>
  <section id='findnew'>

    <% if (typeof potentialpal !== 'undefined') { %>
      <% if (typeof sendORcanc === 'undefined') { %>
        <% potentialpal.forEach(function(user, index) { %>
          <% if (index === randNum) { %>
            <p><strong>We have found a potential pal!</strong><br />
            <h3><%= user.userName %></h3>
            Would you like to add <%= user.userName %>?</p>
            <form action='/users/pals' method='POST'>
              <input type='hidden' name='pal' value='<%= user.userName %>'>
              <button type='submit' name='palbutton' value='YES'>Send</button> <button type='submit' name='palbutton' value='NO'>Cancel</button>
            </form>
          <% } %>
        <% }); %>
      <% } else if (sendORcanc === 'YES') { %>
        <p>Your friend request has been sent!</p>
      <% } else if (sendORcanc === 'NO') { %>
        <p>We're sorry you did not like the suggested Pal!</p>
      <% } %>
    <% } else if (typeof onceperday === 'undefined' || onceperday === false){ %>
      <% if (typeof empty !== 'undefined') { %>
        <p class='error'>We're sorry, but there are no available pals right now.<br />
        Please widen your search, or try again later.</p>
      <% } %>
      You haven't found a new pal for today!<br />
      Would you like to find a new pal?<br />
      <form action='/users/pals' method='GET'>
        <button type='submit'>Find a Pal!</button>
      </form>
      <% } else { %>
        <p>Sorry, you can only send one Pal request per day!</p>
    <% } %>

  </section>
  <hr />
  <section id='recvnew'>

    <% if (typeof newPal === 'undefined' || typeof pending === 'undefined') { %>
      <% if (typeof accORrej === 'undefined') { %>
        <p>You currently have no pending Pal requests.</p>
      <% } else if (accORrej === 'YES') { %>
        <p>You've accepted <%= palName %> as a new pal!</p>
      <% } else if (accORrej === 'NO') { %>
        <p>You've declined <%= palName %>'s request.</p>
      <% } %>
    <% } else { %>
      <p><%= newPal[0].userName %> wanted you as their pal!<br />Would you like to become their pal?</p>
      <form action='/users/addpal' method='POST'>
        <input type='hidden' name='pal' value=''>
        <button type='submit' name='palbutton' value='YES'>Add</button> <button type='submit' name='palbutton' value='NO'>Decline</button>
      </form>
    <% } %>

  </section>

</div>
<div class="im"><a href="messages/new">New Message</a></div>
<div class="im"><a href="chat">Instant Message Pal</a></div>
<div class="im"><a href="messages/sent">Sent Messages</a></div>
<div class="im"><a href="messages/received">Received Messages</a></div>
